swagger: "2.0"
info:
  description: "Servicio API de optimización de potencias"
  version: "1.0.0"
  title: "Nemon Power Optimizer"
  termsOfService: "https://www.nemontradeenergy.com/aviso-legal.html"
  contact:
    email: "support@nemon2ib.com"
host: "power-optimizer.nemon2ib.com"
basePath: "/v1"
tags:
- name: "powers-optimizer"
  description: "Proceso optimización potencias"
schemes:
- "https"
paths:
  /do-optimize-powers:
    post:
      tags:
      - "powers-optimizer"
      summary: "Optimizar las potencias"
      description: ""
      operationId: "doOptimizePowers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Datos de las potencias a optimizar"
        required: true
        schema:
          $ref: "#/definitions/InfoToOptimize"
      responses:
        200:
          description: "En el caso de que se detecte optimización"
          schema:
            $ref: "#/definitions/OptimizationResponse"
        404:
          description: >
            En el caso de que se no detecte optimización. Se devuelve
            la información de las potencias actuales
          schema:
            $ref: "#/definitions/OptimizationNotFound"
definitions:
  InfoToOptimize:
    type: "object"
    properties:
      tariff:
        type: "string"
        description: "tariff name"
      tariffPeriods:
        type: "object"
        description: >
          Lista de la definición de los periodos horarios de la tarifa, desglosados diáriamente
          para todo el periodo de datos a analizar.
        properties:
          day:
            description: >
              La clave es el día, el valor la información de los periodos horarios
              de ese dí
            $ref: "#/definitions/TariffPeriod"
      powerPrices:
        type: "object"
        description: >
          Lista de los precios de potencia (ATR + cargos), desglosados diáriamente
          para todo el periodo de datos a analizar.
        properties:
          day:
            description: >
              La clave es el día, el valor la información de los periodos horarios
              de ese día
            $ref: "#/definitions/PowerPrice"
      excessPrices:
        type: "array"
        description: >
          Listado de los precios de excesos de potencia, agrupados por rango de fechas
        items:
          $ref: "#/definitions/ExcessPrice"
      kps:
        type: "array"
        description: >
          Listado de precios kps. Solo aplica cuando se realiza el cálculo por curva,
          para el cálculo por maxímetros no se requiere de esta información.
        items:
          $ref: "#/definitions/Kp"
      contractedPowers:
        $ref: "#/definitions/Powers"
      maximeters:
        description: >
          Listado de maxímetros a analizar. Solamente se deberá de informar en el caso
          de querer realizar el cálculo por maxímetros
        type: array
        items:
          $ref: "#/definitions/Maximeter"
      curve:
        description: >
          Curva de maxímetros de potencia kW, desglosados por día, hora y
          cuarto de hora.
        type: object
        properties:
          day:
            description: >
              La clave es el día, el valor la información de los periodos horarios
              de ese día
            properties:
              hour:
                description: >
                  La clave es la hora del día, en formato string. Por ejemplo, la
                  hora H01 será la clave "1", la H02 "2" y así hasta la 25.
                type: object
                properties:
                  q1:
                    description: Maxímetro del cuarto 1
                    type: number
                    format: float
                  q2:
                    description: Maxímetro del cuarto 2
                    type: number
                    format: float
                  q3:
                    description: Maxímetro del cuarto 3
                    type: number
                    format: float
                  q4:
                    description: Maxímetro del cuarto 4
                    type: number
                    format: float
  TariffPeriod:
    type: "object"
    properties:
      hour:
        description: >
          La clave se corresponde a la hora en string, por ejemplo para la hora H01 se mandará
          la clave "1", para H02 "2" y así hasta la hora 25. El valor del periodo tiene que
          llegar en formato string
        type: string
  PowerPrice:
    type: "object"
    properties:
      1:
        description: Valor del precio P1
        type: number
        format: float
      2:
        description: Valor del precio P2
        type: number
        format: float
      3:
        description: Valor del precio P3
        type: number
        format: float
      4:
        description: Valor del precio P4
        type: number
        format: float
      5:
        description: Valor del precio P5
        type: number
        format: float
      6:
        description: Valor del precio P6
        type: number
        format: float
  ExcessPrice:
    type: "object"
    description: "Información del exceso de potencia"
    properties:
      init:
        description: Fecha inicio del precio
        type: string
        format: date
      end:
        description: Fecha fin del precio
        type: string
        format: date
      price:
        description: Precio del exceso de potencia
        type: number
        format: float
  Kp:
    type: "object"
    description: "Información kp de potencia, los precios por periodos"
    properties:
      init:
        description: Fecha inicio de los precios
        type: string
        format: date
      end:
        description: Fecha fin de los precios
        type: string
        format: date
      1:
        description: Precio del kp de potencia P1
        type: number
        format: float
      2:
        description: Precio del kp de potencia P2
        type: number
        format: float
      3:
        description: Precio del kp de potencia P3
        type: number
        format: float
      4:
        description: Precio del kp de potencia P4
        type: number
        format: float
      5:
        description: Precio del kp de potencia P5
        type: number
        format: float
      6:
        description: Precio del kp de potencia P6
        type: number
        format: float
  Powers:
    type: object
    description: "Listado de potencias kW"
    properties:
      1:
        description: Potencia P1
        type: number
        format: float
      2:
        description: Potencia P2
        type: number
        format: float
      3:
        description: Potencia P3
        type: number
        format: float
      4:
        description: Potencia P4
        type: number
        format: float
      5:
        description: Potencia P5
        type: number
        format: float
      6:
        description: Potencia P6
        type: number
        format: float
  Maximeter:
    type: "object"
    description: "Información kp de potencia, los precios por periodos"
    properties:
      init:
        description: Fecha inicio de los precios
        type: string
        format: date
      end:
        description: Fecha fin de los precios
        type: string
        format: date
      1:
        description: Precio del kp de potencia P1
        type: number
        format: float
      2:
        description: Precio del kp de potencia P2
        type: number
        format: float
      3:
        description: Precio del kp de potencia P3
        type: number
        format: float
      4:
        description: Precio del kp de potencia P4
        type: number
        format: float
      5:
        description: Precio del kp de potencia P5
        type: number
        format: float
      6:
        description: Precio del kp de potencia P6
        type: number
        format: float
  OptimizationResponse:
    type: object
    description: Resultado de la optimización de potencias
    properties:
      optimized:
        description: >
          Boolean indicando que se ha encontrado optimización. Este
          parámetro se informa a modo de ayudar a integrar el servicio.
        type: boolean
        default: true
      currentAnnualContracted:
        description: >
          Listado con la información de los importes fijos de potencia
          contratada por día y periodo.
        $ref: "#/definitions/OptimizationDailyDetailedInfo"
      currentAnnualExcess:
        description: >
          Listado con la información de los importes de excesos de potencia
          por día y periodo.
        $ref: "#/definitions/OptimizationDailyDetailedInfo"
      currentContractedPowers:
        description: Potencias contratadas actuales
        $ref: "#/definitions/Powers"
      currentImport:
        description: Importe total potencias actuales
        type: number
        format: float
      newAnnualContracted:
        description: >
          Listado con la información de los importes fijos de potencia
          contratada por día y periodo en base a las potencias óptimas
        $ref: "#/definitions/OptimizationDailyDetailedInfo"
      newAnnualExcess:
        description: >
          Listado con la información de los importes de excesos de potencia
          por día y periodo en base a las potencias óptimas
        $ref: "#/definitions/OptimizationDailyDetailedInfo"
      newPowers:
        description: Potencias óptimas calculadas por el sistema
        $ref: "#/definitions/Powers"
      newImport:
        description: Importe total de las potencias óptimas
        type: number
        format: float
  OptimizationNotFound:
    type: object
    description: Informe cuando no se han encontrado potencias óptimas
    properties:
      optimized:
        description: >
          Boolean indicando que no se ha encontrado optimización. Este
          parámetro se informa a modo de ayudar a integrar el servicio.
        type: boolean
        default: false
      currentAnnualContracted:
        description: >
          Listado con la información de los importes fijos de potencia
          contratada por día y periodo.
        $ref: "#/definitions/OptimizationDailyDetailedInfo"
      currentAnnualExcess:
        description: >
          Listado con la información de los importes de excesos de potencia
          por día y periodo.
        $ref: "#/definitions/OptimizationDailyDetailedInfo"
      currentContractedPowers:
        description: Potencias contratadas actuales
        $ref: "#/definitions/Powers"
      currentImport:
        description: Importe total potencias actuales
        type: number
        format: float
  OptimizationDailyDetailedInfo:
    type: object
    properties:
      annual:
        description: Sumatorio de todos los importes diarios
        type: number
        format: float
      day:
        description: >
          Por cada día del periodo tarifario se devuelve como
          clave el día con los importes por periodos.
        type: object
        properties:
          1:
            description: Importe P1 de ese día
            type: number
            format: float
          2:
            description: Importe P2 de ese día
            type: number
            format: float
          3:
            description: Importe P3 de ese día
            type: number
            format: float
          4:
            description: Importe P4 de ese día
            type: number
            format: float
          5:
            description: Importe P5 de ese día
            type: number
            format: float
          6:
            description: Importe P6 de ese día
            type: number
            format: float